<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Report</title>
</head>
<body>
    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            
            <th>Show Name</th>
            <th>Booking Date</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{loop.index}}</td>
           
            <td>{{i.shows.name}}</td>
            <td>{{i.booking_date}}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>